BEING TRANSACTION;

CREATE TABLE prospecting_loot_template (
  entry mediumint(8) unsigned NOT NULL DEFAULT 0 COMMENT 'References directly the item ID (entry)',
  item mediumint(8) unsigned NOT NULL DEFAULT 0,
  ChanceOrQuestChance float NOT NULL DEFAULT 100,
  groupid tinyint(3) unsigned NOT NULL DEFAULT 0,
  mincountOrRef mediumint(9) NOT NULL DEFAULT 1,
  maxcount tinyint(3) unsigned NOT NULL DEFAULT 1,
  condition_id mediumint(8) unsigned NOT NULL DEFAULT 0,
  patch_min tinyint(3) unsigned NOT NULL DEFAULT 0 COMMENT 'Minimum content patch to load this entry',
  patch_max tinyint(3) unsigned NOT NULL DEFAULT 10 COMMENT 'Maximum content patch to load this entry',
  PRIMARY KEY (entry,item)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_uca1400_ai_ci ROW_FORMAT=FIXED COMMENT='Loot System';

INSERT INTO item_template VALUES (24186, 0, 15, 0, 'Copper Powder', '', 28854, 0, 0, 1, 200, 50, 0, -1, -1, 10, 0, 0, 0, 0, 0, 0, 0, 0, 0, 20, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 0, -1, 0, 0, 0, 0, -1, 0, -1, 0, 0, 0, 0, -1, 0, -1, 0, 0, 0, 0, -1, 0, -1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1);
INSERT INTO prospecting_loot_template VALUES (2770, 774, 50, 0, 2, 4, 0, 0, 10);
INSERT INTO prospecting_loot_template VALUES (2770, 818, 50, 0, 2, 4, 0, 0, 10);
INSERT INTO prospecting_loot_template VALUES (2770, 1210, 10, 0, 2, 4, 0, 0, 10);
INSERT INTO prospecting_loot_template VALUES (2770, 24186, 100, 0, 2, 2, 0, 0, 10);

INSERT INTO item_template VALUES (24188, 0, 15, 0, 'Tin Powder', '', 1297, 0, 0, 1, 500, 125, 0, -1, -1, 10, 0, 0, 0, 0, 0, 0, 0, 0, 0, 20, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 0, -1, 0, 0, 0, 0, -1, 0, -1, 0, 0, 0, 0, -1, 0, -1, 0, 0, 0, 0, -1, 0, -1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1);
INSERT INTO prospecting_loot_template VALUES (2771, 1705, 38, 0, 2, 4, 0, 0, 10);
INSERT INTO prospecting_loot_template VALUES (2771, 1206, 38, 0, 2, 4, 0, 0, 10);
INSERT INTO prospecting_loot_template VALUES (2771, 1210, 38, 0, 2, 4, 0, 0, 10);
INSERT INTO prospecting_loot_template VALUES (2771, 7909, 3.33, 0, 2, 4, 0, 0, 10);
INSERT INTO prospecting_loot_template VALUES (2771, 3864, 3.33, 0, 2, 4, 0, 0, 10);
INSERT INTO prospecting_loot_template VALUES (2771, 1529, 3.33, 0, 2, 4, 0, 0, 10);
INSERT INTO prospecting_loot_template VALUES (2771, 24188, 100, 0, 2, 2, 0, 0, 10);

INSERT INTO item_template VALUES (24190, 0, 15, 0, 'Iron Powder', '', 6396, 0, 0, 1, 1600, 400, 0, -1, -1, 30, 0, 0, 0, 0, 0, 0, 0, 0, 0, 20, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 0, -1, 0, 0, 0, 0, -1, 0, -1, 0, 0, 0, 0, -1, 0, -1, 0, 0, 0, 0, -1, 0, -1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1);
INSERT INTO prospecting_loot_template VALUES (2772, 1705, 35, 0, 2, 4, 0, 0, 10);
INSERT INTO prospecting_loot_template VALUES (2772, 3864, 35, 0, 2, 4, 0, 0, 10);
INSERT INTO prospecting_loot_template VALUES (2772, 1529, 35, 0, 2, 4, 0, 0, 10);
INSERT INTO prospecting_loot_template VALUES (2772, 7910, 5, 0, 2, 4, 0, 0, 10);
INSERT INTO prospecting_loot_template VALUES (2772, 7909, 5, 0, 2, 4, 0, 0, 10);
INSERT INTO prospecting_loot_template VALUES (2772, 24190, 100, 0, 2, 2, 0, 0, 10);

INSERT INTO item_template VALUES (24234, 0, 15, 0, 'Mithril Powder', '', 20611, 0, 0, 1, 2000, 500, 0, -1, -1, 30, 0, 0, 0, 0, 0, 0, 0, 0, 0, 20, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 0, -1, 0, 0, 0, 0, -1, 0, -1, 0, 0, 0, 0, -1, 0, -1, 0, 0, 0, 0, -1, 0, -1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1);
INSERT INTO prospecting_loot_template VALUES (3858, 7910, 35, 0, 2, 4, 0, 0, 10);
INSERT INTO prospecting_loot_template VALUES (3858, 7909, 35, 0, 2, 4, 0, 0, 10);
INSERT INTO prospecting_loot_template VALUES (3858, 3864, 35, 0, 2, 4, 0, 0, 10);
INSERT INTO prospecting_loot_template VALUES (3858, 12361, 2.5, 0, 2, 4, 0, 0, 10);
INSERT INTO prospecting_loot_template VALUES (3858, 12799, 2.5, 0, 2, 4, 0, 0, 10);
INSERT INTO prospecting_loot_template VALUES (3858, 12800, 2.5, 0, 2, 4, 0, 0, 10);
INSERT INTO prospecting_loot_template VALUES (3858, 12364, 2.5, 0, 2, 4, 0, 0, 10);
INSERT INTO prospecting_loot_template VALUES (3858, 24234, 100, 0, 2, 2, 0, 0, 10);

INSERT INTO item_template VALUES (24235, 0, 15, 0, 'Thorium Powder', '', 20798, 0, 0, 1, 3200, 800, 0, -1, -1, 50, 0, 0, 0, 0, 0, 0, 0, 0, 0, 20, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 0, -1, 0, 0, 0, 0, -1, 0, -1, 0, 0, 0, 0, -1, 0, -1, 0, 0, 0, 0, -1, 0, -1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1);
INSERT INTO prospecting_loot_template VALUES (10620, 7910, 30, 0, 2, 4, 0, 0, 10);
INSERT INTO prospecting_loot_template VALUES (10620, 12364, 16, 0, 2, 4, 0, 0, 10);
INSERT INTO prospecting_loot_template VALUES (10620, 12800, 16, 0, 2, 4, 0, 0, 10);
INSERT INTO prospecting_loot_template VALUES (10620, 12361, 16, 0, 2, 4, 0, 0, 10);
INSERT INTO prospecting_loot_template VALUES (10620, 12799, 16, 0, 2, 4, 0, 0, 10);
-- TODO:
INSERT INTO prospecting_loot_template VALUES (10620, 23077, 1.66, 0, 2, 4, 0, 0, 10);
INSERT INTO prospecting_loot_template VALUES (10620, 23079, 1.66, 0, 2, 4, 0, 0, 10);
INSERT INTO prospecting_loot_template VALUES (10620, 21929, 1.66, 0, 2, 4, 0, 0, 10);
INSERT INTO prospecting_loot_template VALUES (10620, 23112, 1.66, 0, 2, 4, 0, 0, 10);
INSERT INTO prospecting_loot_template VALUES (10620, 23107, 1.66, 0, 2, 4, 0, 0, 10);
INSERT INTO prospecting_loot_template VALUES (10620, 23117, 1.66, 0, 2, 4, 0, 0, 10);
INSERT INTO prospecting_loot_template VALUES (10620, 24235, 100, 0, 2, 2, 0, 0, 10);

-- Prospecting https://www.wowhead.com/tbc/spell=31252/prospecting
INSERT INTO spell_template
VALUES (31252, 5875, 0, 0, 0, 0, 0, 272, 0, 8192, 0, 0, 0, 0, 16, 0, 0, 0, 0, 14, 0, 0, 31, 0, 0, 0, 101, 0, 0, 100, 100, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 0, 0, 127, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1, -1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3220, 0, 1568, 0, 0, 'Prospect', 983054, '', 983052, 'Search 5 ore of a base metal for precious gems.  This will destroy the ore in the process.', 983070, '', 983052, 0, 133, 1500, 0, 0, 0, 0, 0, 0, 0, -1, 1, 1, 1, 0, 0, 0, 0, '');

INSERT INTO skill_line_ability VALUES (15031, 5875, 164, 31252, 0, 0, 1, 0, 1, 60, 20, 0);

COMMIT;
